<div class = "loginMain">
<h1 class = "loginTitle">LOGIN</h1>

<%= form_with scope: :user, url: login_path, local: true do |form| %>
	<p>
		<%= form.text_field :name, placeholder: 'username', class: 'loginText loginInput' %>
	</p>
	<p>
		<%= form.password_field :password, placeholder: 'password', class: 'loginText loginInput' %>
	</p>

	<p>
		<%= form.submit class: 'loginSubmit' %>
	</p>
<% end %>

<%= link_to 'Sign Up', new_user_path, class: 'signUp' %>
</div>